<% title "Passes" %>
<% if @show_title %>
    <br>
    <div id="title" class="row">
      <div class = "col">
        <h1>Guest<%= yield(:title) %></h1>
      </div>
    </div>
    <br>
<% end %>

<%= render @passes %>

<%= link_to "New Pass", new_pass_path, class: "btn btn-primary pass-mod" %>