<% title "Edit User" %>
<%= link_to "", root_path, class: "btn btn-secondary f-right lnk-back" %>
<% if @show_title %>
    <br>
    <div id="title" class="row">
      <div class = "col">
        <h1><%= yield(:title) %></h1>
      </div>
    </div>
    <br>
<% end %>

<hr>

<div class="group_squeze">
  <%= render 'form' %>
</div>