<% title "Sign Up" %>

<% if @show_title %>
    <br>
    <div id="title" class="row">
      <div class = "col">
        <h1><%= yield(:title) %></h1>
      </div>
    </div>
    <br>
<% end %>

<%= render 'form' %>

OR <%= link_to "Signup with Github", "/auth/github" %>