<% title @current_user.name %>


<% if @show_title %>
  <br>
    <div id="title" class="row">
      <div class = "col">
        <h1>Welcome <%= yield(:title) %>!</h1>
      </div>
    </div>
    <br>
<% end %>

<hr>

<%= render @user %>

<br>
<br>

<%= link_to "Edit", edit_user_path(@user), class: "btn btn-info" %>
<%= link_to "Delete Account", @user, method: :delete, data: {confirm: "Are you sure you want to delete your data?" },  class: "btn btn-secondary" %>


