<% title "New Coupon" %>
<% if @show_title %>
    <br>
    <div id="title" class="row">
      <div class = "col">
        <h1><%= yield(:title) %></h1>
      </div>
    </div>
    <br>
<% end %>
<%= render 'form' %>

<%= link_to "Cancel", pass_coupons_path(@pass), class: "btn btn-secondary"   %>
