<% title "Home" %>
<% if @show_title %>
    <div id="title" class="row">
      <div class = "col">
        <h1>Welcome to the <%= yield(:title) %> Page!</h1>
      </div>
    </div>
<% end %>
<hr>
<br>

<h2>Check out the first trailer for the most anticipated upcoming Anime movie!</h2>
<br>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/klsU4erJnEs" allowfullscreen></iframe>
</div>