/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "rails_bootstrap_forms";

.alert{
    margin-top: 30px;
}




/***Body Divs*****/
body{
   background: #eee;
   background-image: linear-gradient(1deg, #eee 26%, #eaeae0 74%);
   background-repeat: none;
}
.wrap1{
    width: 95%;
    min-height: 80vh;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px #aaa;
}
.wrap2{
    padding-left:  20px;
    display: flex;
    align-items: baseline;
    align-content: flex-start;
    flex-wrap:  wrap;
    justify-content: flex-start;
    
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  width: 85%;
  text-align: center;
}
.grid-item {
  text-align: center;
}


/**Navigation Pane*****/
#search-bar{
    text-align: center;
    min-width: 50%;
}
#search-bar form{
    min-width: 100%;
    margin: auto;
    text-align: center;
}
#search-bar input{
    min-width: 40%;
}
.sign{
    min-width: 150px;
}
.notification{
    text-align: center;
}
.notification .badge {
  position: absolute;
  top: 1px;
  right: 4px;
  padding: 3px 6px;
  border-radius: 50%;
  background: rgb(10,220,10);
  color: white;
  transition: all ease 0.4s;
}
.green.dropdown-toggle::after{
    color: rgb(10,220,10);
}
.dropdown-item.gray{
    background: #f8f7fa;
    color: #555;
    margin-bottom: 2px;
}
.dropdown-item.gray:hover{
    background: #e7e6e9;
}
/***Pass Block*****/
.pass{
    box-shadow: 2px 2px 5px #555 !important;
}
.link-title a{
    color: #1a785f;
}
.card-link{
    border: 1px solid #aaa;
    padding: 3px 10px;
    border-radius: 4px;
    background-color: #343a40;
}
.card-link a{
    color: #fff;
}
.card-link a:hover{
    color: #ddb;
}
a:hover{
    color: #ddb;
    text-decoration: none !important;
}


/***Coupon Block*****/
.coupon{
    width: 450px;
    padding: 0;
    border: 5px dashed #eee !important;
    display: block
}
.coupon-info, .coupon-main, .coupon-note{
    padding: 20px;
    margin: 0;
}
.coupon-main {
    padding-top: 5px;
    padding-bottom: 7px;
}
.coupon-info{
    background: rgba(240,240,240, 0.8);
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.coupon-note{
    background: #fefff0;
    margin: 10px;
    border: 1px dashed #dce080;
}
.coupon h2{
    margin: 0;
    color: #55F;
}
.pid{
    transform: rotate(0);
}
.coupon-site{
  padding: 0px;
  padding-top: 5px;
  text-align: center;
  color: #fff;
  background: #56becc;
}
.makePublic{
    margin-top: 2px;
    margin-right: 10px;
    display: block;
    text-align: right;
    
}
.pub{
    font-size: 8pt ;
    padding: 2px ;
    background: none ;
    border-radius: 5px;
    z-index: -999;
}
.Publish{
    border: solid 1px #33bf1b;
    color:  #33bf1b;
}
.Publish:hover{
    background: #33bf1b;
    color:  #fff !important;
}
.Unpublish{
    border: solid 1px #c91e1e;
    color:  #c91e1e;
}
.Unpublish:hover{
    background: #c91e1e;
    color:  #fff !important;
}
.claim-button{
    font-size: 24pt;
}
.claim-button:hover{
    color: #3fb545;
    font-weight: bolder;
}


/***Misc*****/
.small{
    font-size: 8pt;
}
.right{
    margin: auto;
    text-align: center;
    display: block;
}
.f-right{
    float: right;
}
.f-left{
    float: left;
}
.center{
    text-align: center;
    margin: auto;
}
.lnk{
    margin-top: 10px;
    margin-right: 50px;
    width: 55px;
    height: 55px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 50% !important;
    box-shadow: 1px 1px 4px gray;
}

.lnk::before {
  content: "+";
  height:55px;
  width:55px;
  font-size:55px;
  display:flex;
  padding-top: 4px;
  padding-right: 2px;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  font-weight:bold;
  font-family:courier;
  color:white;
}
.lnk-back{
    margin-top: 10px;
    margin-right: 50px;
    width: 55px;
    height: 55px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 50% !important;
    box-shadow: 1px 1px 4px gray;
}

.lnk-back::before {
  content: "⇦";
  height:55px;
  width:55px;
  font-size:55px;
  display:flex;
  padding-bottom: 8px;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  font-weight: bolder !important;
  color:white;
}