// Place all the styles related to the passes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pass, .pass-mod{
    margin: 20px;
}
.col-form-label::after {
content: ":";
    
}
.group_squeze{
    width: 600px;
    margin-left: 30px;
}